# Base de données
DATABASE_URL="postgresql://creorga:password@localhost:5433/creorga_dev"

# JWT
JWT_SECRET="change-this-to-a-random-64-char-string"
JWT_REFRESH_SECRET="change-this-to-another-random-64-char-string"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

# Serveur
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"

# Optionnel
REDIS_URL="redis://localhost:6379"
